# Default python libraries
apparmor==2.13.3
appdirs==1.4.3
application-utility==1.2.1
bauh==0.7.0
btrfsutil==1.1.1
CacheControl==0.12.5
chardet==3.0.4
colorama==0.4.1
cupshelpers==1.0
distlib==0.2.9
distro==1.4.0
docopt==0.6.2
html5lib==1.0.1
idna==2.8
importlib-metadata==0.23
keyutils==0.6
LibAppArmor==2.13.3
lockfile==0.12.2
louis==3.11.0
more-itertools==7.2.0
msgpack==0.6.2
npyscreen==4.10.5
packaging==19.2
pacman-mirrors==4.15
pep517==0.6.0
Pillow==6.2.0
progress==1.5
pwquality==1.4.1
pycairo==1.18.2
pycups==1.9.74
pycurl==7.43.0.3
PyGObject==3.34.0
pyparsing==2.4.2
PyQt5==5.13.1
PyQt5-sip==4.19.19
pysmbc==1.0.16
pytoml==0.1.21
PyYAML==5.1.2
reportlab==3.5.28
requests==2.22.0
retrying==1.3.3
six==1.12.0
team==1.0
udiskie==1.7.7
urllib3==1.25.6
webencodings==0.5.1
zipp==0.6.0

# Project libraries
selenium==3.141.0